div{
	background: cyan;
	border: 1px solid lime;
}

.dreptunghi{
	background: black;
	width: 300px;
	height: 150px;
	color: white;
}

#patrat{
	width: 300px;
	height: 300px;
}

.green{
	background: blue;
}

.red{
	background: red;
}
