
*{
	/*outline: 1px solid red;*/
}

.calculator{
	background-color: lightblue;
	width: 200px;
}

.calculator .title{
	background-color: blue;
	text-align: center;
	color: white;
	font-weight: bold;
}

.calculator .result{
	text-align: center;
}

.calculator .result input{
	width: 95%;
}

.calculator ul{
	padding: 0;
}

.calculator .menu ul li{
	display: inline-block;
}

.calculator .buttons button{
	width: 60px;
	height: 40px;
	margin: 2px;
	padding: 0;
	border: 1px solid grey;
	border-radius: 3px;
	font-size: 26px;
}

.calculator .buttons button:hover{
	opacity: 0.5;
	cursor: pointer;
}

